html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Loader Styles */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
  filter: blur(0px);
  animation: blur-text 1.5s infinite linear alternate;
}

.loading-text span:nth-child(1) { animation-delay: 0s; }
.loading-text span:nth-child(2) { animation-delay: 0.2s; }
.loading-text span:nth-child(3) { animation-delay: 0.4s; }
.loading-text span:nth-child(4) { animation-delay: 0.6s; }
.loading-text span:nth-child(5) { animation-delay: 0.8s; }
.loading-text span:nth-child(6) { animation-delay: 1.0s; }
.loading-text span:nth-child(7) { animation-delay: 1.2s; }

@keyframes blur-text {
  0% { filter: blur(0px); }
  100% { filter: blur(4px); }
}
